.jumbotron{
    background-color: #fff !important; 
    margin: 0;
}

.jumbotron .jumbotrom-heading {
    font-weight: 300;
}

footer{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: right;
    width: 100%;
    background-color: #ddd;
}

